body{
	margin:0px;
	padding:0px;
	font-family:"Helvetica Neue", Helvetica, Arial;
}

#sidebar{
	background-image: linear-gradient(to top, #2069b4, #191933);
	width:40px;
	height:100%;
	display:block;
	position:fixed;
	left:0px;
	top:46px;
  box-shadow: 2px 2px 10px #0d0d0d;
	transition: width 0.3s linear;
}

#sidebar.visible{
  left:0px;
	width: 160px;
	transition:width 0.3s linear;
}

ul{
	margin:4px 0;
	padding:0px;
}

ul li{
    list-style:none;
    position: relative;
    display: block;
    overflow: hidden;
}

ul li a{
	color:#ccc;
  position: relative;
	display:table;
	width:60%;
	padding-top:20px;
	text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

#sidebar-btn{
	/*display:inline-block;*/
	vertical-align: middle;
	width:20px;
	height:15px;
	cursor:pointer;
	margin:20px;
	/*position:absolute;*/
	top:0px;
	right:-60px;
}

#sidebar-btn span{
	height:1px;
	background:#111;
	margin-bottom:5px;
	display:block;
}

#sidebar-btn span:nth-child(2){
	width:75%;
}

#sidebar-btn span:nth-child(3){
	width:50%;
}

#container-page {
	padding-left: 0%;
	transition: padding-left 0.3s linear;
}

#container-page.ativo{
	padding-left: 10%;
	transition: padding-left 0.3s linear;
}

.legend {
  font-size: 16px;
  color: white;
}

#sidebar-info {
  top: 25rem;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  text-align: justify;
  height: 96px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#expandir {
  display: inline-flex;
  cursor: pointer;
}
